@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
  background-color: #272B2C; /* emerald-dark */
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

html {
  margin: 0;
  padding: 0;
  background-color: #272B2C; /* emerald-dark */
}

#root {
  margin: 0;
  padding: 0;
  background-color: #272B2C; /* emerald-dark */
  min-height: 100vh;
}

* {
  font-family: 'JetBrains Mono', monospace;
}

/* Apply Press Start 2P font to all headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Press Start 2P', cursive;
}
